* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.haru{
  height: 200px;
  background-image: url(img1-6/box1.jpg);
  background-size: cover;
  background-position: center;
}

.natu{
  height: 200px;
  background-image: url(img1-6/box2.jpg);
  background-size: cover;
  background-position: center;
}

.aki{
  height: 200px;
  background-image: url(img1-6/box3.jpg);
  background-size: cover;
  background-position: center;
}

.fuyu{
  height: 200px;
  background-image: url(img1-6/box4.jpg);
  background-size: cover;
  background-position: center;
}
